.coin-container {
    display: flex;
    margin: 40px 20px;
	height: 1000px;
}

.coin-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.coin-price {
	display: flex;
}

#coin-icon {
	width: 30px;
	height: 30px;
}

.table-border {
	padding: 10px;
}

.table-border:not(:last-child) {
	border-bottom: solid rgb(187, 184, 184) 1px;
}

th {
	font-size: 14px;
}

.left-panel {
	flex: 0.3;
	margin-right: 25px;
	width: 300px;
	background-color: white;
	border: solid rgb(187, 184, 184) 1px;
	border-radius: 10px;
	margin-left: 15px;
	padding: 8px;
	margin-bottom: 20px;
}

.green-change {
	color: #007200;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.red-change {
	color: #a4161a;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.no-change {
	color: grey;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}