.coin-container {
    display: flex;
    margin: 40px 20px;
}

.coin-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.coin-price {
	display: flex;
}

#coin-icon {
	width: 30px;
	height: 30px;
}

.center-panel {
	flex: 0.7;
	margin-left: 5px;
	border: solid red 2px;
	border-radius: 10px;
}

.left-panel {
	flex: 0.3;
	margin-right: 5px;
	border: solid red 2px;
	border-radius: 10px;
	margin-left: 15px;
	padding: 8px;
}

.green-change {
	color: #007200;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.red-change {
	color: #a4161a;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.no-change {
	color: grey;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}