.coin-container {
    display: flex;
    margin: 40px 20px;
}

.coin-info {
	flex: 0.2;
    margin-right: 25px;
}

.coin-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.coin-price {
	display: flex;
}

#coin-icon {
	width: 30px;
	height: 30px;
}

.green-change {
	color: #007200;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.red-change {
	color: #a4161a;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}

.no-change {
	color: grey;
	padding: 6px;
	border-radius: 5px;
	font-weight: 600;
}