#loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #444444;
	width: 70px;
	height: 70px;
	animation: spin 0.5s linear infinite;
}

.green-change {
	color: #007200;
	border-radius: 5px;
	font-weight: 600;
}

.red-change {
	color: #a4161a;
	border-radius: 5px;
	font-weight: 700;
}

.no-change {
	color: gray;
	border-radius: 5px;
	font-weight: 600;
}

.disableCursor {
	cursor: wait;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 1024px) {
	.hover-crypto:hover {
		background-color: rgba(13, 134, 255, 0.08);
	}
}

