.suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.suggestionsContainer {
    position: absolute;
    top: 50px;
    width: 500px;
    height: 450px;
    z-index: 1000;
}

.disableCursor {
	cursor: wait;
}

.selectedSuggestion {
    background-color: #a2d2ff !important;
}

.selectedSuggestion:hover {
    background-color: #a2d2ff !important;
}